
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.4;
    min-height: 100vh;
    background: rgb(248, 234, 208);
    color: #000;
}

header {

}

main {
   
    font-size: 1.25rem;
    color: rgb(0,0, 0,);
    
}


a {
    text-decoration: none;
}



.container {
    border: 10px double rgb(178, 81, 231);
    font-size: 1.5rem;
    margin: 1.5em auto;
    padding: 1.5em;
    outline: 3px solid purple;
    outline-offset: -15px;
    text-align: center;

}

button, form {
    font-size: inherit;
    font-family: inherit;
    font-weight: bold;
    
}




.intro {
    border: 2px none ;
    /* background-color: lightblue; */
    width: 39ch;
    padding: 2em;
    text-align: justify;
    text-indent: 1em;
}





.CPR {
    padding: 3rem;
    margin: 2em;
}

